extends layout

block content
  h1= title
  p Detta API tillhandahåller anteckningar om vilket väder det varit under en tid. 
  p Apiet kan användas för att logga dagens väder likt en väderdagbok. 
  p Apiet anropas med localhost:3000/notes för att läsa ut alla väderanteckningar.
  p Det går också att läsa ut enskild anteckning genom ett anrop på localhost:3000/notes/id.
  p Apiet konsumeras via webbplatsen 
